/*by using border-box, the padding is included in the width*/
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    font-family: "Franklin Gothic Book", serif;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.earth {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.search input {
    border: 1px solid #a6d160;
    border-radius: 4px 0 0 4px;
    padding: 5px;
}

.search input:focus {
    outline: none;
}

.search button {
    border: 1px solid #a6d160;
    border-radius: 0 4px 4px 0;
    background-color: #a6d160;
    font-weight: bold;
    padding: 5px;
}

.outcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}