/*I got this idea from Mark Rensen!*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*by using border-box, the padding is included in the width*/
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.wrapper{
    width: 451px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: "Gochi Hand", cursive;
    font-weight: bold;
    color: black;
    padding: 10px;
}

.earth {
    width: 70%;
    margin: auto;
}

/*container for search input field and button*/
.search {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.search input {
    border: 1px solid #a6d160;
    border-radius: 4px 0 0 4px;
    padding: 5px;
}

.search input:focus {
    outline: none;
}

.search button {
    border: 1px solid #a6d160;
    border-radius: 0 4px 4px 0;
    background-color: #a6d160;
    font-weight: bold;
    padding: 5px;
}

.search button:hover {
    background-color: #87a850;
}

.search button:active {
    background-color: #a6d160;
    transform: translateY(1px);
}

/*search outcome country container box (is also used for error message) for positioning and shadow effect*/
.country_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: silver 4px;
    border-radius: 2px;
    box-shadow: 5px 6px 11px 3px rgba(114,115,116,0.74);
    -webkit-box-shadow: 5px 6px 11px 3px rgba(114,115,116,0.74);
    -moz-box-shadow: 5px 6px 11px 3px rgba(114,115,116,0.74);
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/*container for flag and country name in search outcome box*/
.flag_name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    width: 100%;
    border-bottom: silver 1px solid
}

.flag_name img {
    box-shadow: 2px 2px silver;
    width: auto;
    height: 40px;
    margin: 5px;
    padding: 0;
}

/*this is the sad smiley face in the error message*/
.flag_name i {
    font-family: "Gochi Hand", cursive;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin: 5px;
    padding: 5px;

}

.flag_name h2 {
    font-family: "Gochi Hand", cursive;
    margin: 5px;
    padding: 5px;
}

/*seperate div for country search result text*/
/*is also used for error message*/
.text {
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: small;
    width: 100%;
    margin: 0;
    padding: 5px;
}
