/*by using border-box, the padding is included in the width*/
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    font-family: "Franklin Gothic Book", serif;
    font-weight: bold;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.worldmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map {
    width: 80%;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    color: #bb0404;

}

a:hover {
    color: orangered;
}

/*ul container for fetchData-function in main.js*/
.country-box {
    list-style: none;
    column-count: 3;
    border: solid 2px whitesmoke;
    background-color: #fafcfd;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

/*list item created for each country*/
.country {
    width: 100%;
}

.country img {
    width: 25px;
    height: auto;
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}
/*font-colour is corresponding with the continent*/
/*default color is orange*/
.country h3 {
    font-family: "Franklin Gothic Book", serif;
    color: silver;
    margin: 0;
    padding: 0;
}

.country .Africa {
    color: royalblue;
}

.country .Americas {
    color: #62c162;
}

.country .Asia {
    color: #bb0404;
}

.country .Europe{
    color: #d9d90f;
}

.country .Oceania{
    color: purple;
}

.countryP {
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: small;
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}

