/*by using border-box, the padding is included in the width*/
* {
    box-sizing: border-box;
}

body {
    background-color: darkred;
}

h1 {
    font-family: "Franklin Gothic Book", serif;
    font-weight: bold;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.worldmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map {
    width: 40%;
}

/*container for fetchData-function in main.js*/
.country-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 5px auto;
}

/*div created for each country*/
.country {
    margin-bottom: 3px;
    width: 100%;
}

.country img {
    width: 6%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.country p {
    width: calc(94% - 5px);
    background-color: darkorange;
    font-family: "Franklin Gothic Book", serif;
    font-size: small;
    margin: 0 0 0 5px;
    padding: 5px;
    float: right;
}

/*when hoovering over a country the background-colour is corresponding with the continent*/
/*default color is orange*/
.country p:hover {
    background-color: orange;
}

.country .Africa:hover {
    background-color: cornflowerblue;
}

.country .Americas:hover {
    background-color: darkseagreen;
}

.country .Asia:hover {
    background-color: red;
}

.country .Europe:hover {
    background-color: yellow;
}

.country .Oceania:hover {
    background-color: mediumpurple;
}

