/*by using border-box, the padding is included in the width*/
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    font-family: "Franklin Gothic Book", serif;
    font-weight: bold;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.worldmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map {
    width: 40%;
}

/*ul container for fetchData-function in main.js*/
.country-box {
    list-style: none;
    column-count: 3;
    width: 100%;
    margin: 5px auto;
}

/*list item created for each country*/
.country {
    width: 100%;
}

.country img {
    width: 35px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
}
/*font-colour is corresponding with the continent*/
/*default color is orange*/
.country h3 {
    font-family: "Franklin Gothic Book", serif;
    color: orange;
    margin: 0;
    padding: 0;
}

.country .Africa {
    color: cornflowerblue;
}

.country .Americas {
    color: darkseagreen;
}

.country .Asia {
    color: red;
}

.country .Europe{
    color: yellow;
}

.country .Oceania{
    color: mediumpurple;
}

.countryP {
    color: black;
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px;

}

